@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
:root{
    --backgroundColor:#e7e7df;
    --black:#13131a;
    --cafe:#3f2817;
    --bg:#d4c6b6;
    --caqui:#aca193;
    --border:.1rem solid rgba(255,255,255,.3)

}

html{
    font-size: 62.5%;
    overflow-x:hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .5rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:#fff;
    border-radius: .8rem;

}
body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background:var(--backgroundColor);
    transition: all 250ms;
    color: var(--cafe);
}
section{
    padding: 1.5rem 7%;
}

.header{
    display: flex;
    background: linear-gradient(196deg, #e7e7df, var(--bg));
    justify-content: space-between;
    font-size: 1.6rem;
    z-index: 1000;
}
.header .logo{
    margin-left: 10px;
    font-family:  'Belleza', sans-serif;
    color: var(--cafe);

}
.header .optionList{
    display: flex;
    list-style: none;
    padding: 30px;
}
.header .optionList h2{
    color: #eee;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0 10px;
}
.header .optionList li a{
    margin: 0 20px;
    color: #3f2817;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.6rem;
}
.header .optionList li a:hover{
    color: #fff;
    transition: 250ms;
}

.home{
    min-height: 87vh;
    display: flex;
    align-items: center;
    background:url(imagenes/home_auto.jpg) no-repeat;
    background-size:cover;
    background-position: center;
}
.home .content{
    max-width: 40vw;
}
.home .content h3{
    font-family: 'Dancing Script', cursive;
    font-size: 6rem;
    color:var(--caqui) ;
}

.home .content h2{
    font-family: 'Belleza', sans-serif;
    color: var(--cafe);
    font-size: 4rem ;
}
.nosotros{
    display: flex;
    max-width: 100vw;
    min-height: 100vh;
    background: radial-gradient( var(--backgroundColor), var(--bg));
    /* background-image: url(imagenes/nosotro2.jpeg);
    background-size: cover;
    background-position: center; */
    
}
.nosotros .content {
    max-width: 80vw;
    padding: 2rem;
    margin:auto;
    text-align: center;
}
.nosotros .content h3{
    font-size: 6rem;
    font-family: 'Dancing Script', cursive;
}
.nosotros .content p{
    font-size: 4rem;
    
}



img{
    width: 350px;
}

.catalogo .titulo {
    padding-bottom: 1rem;
    font-size: 4rem;
    
}
.catalogo .titulo h3{
    font-size: 6rem;
    font-family: 'Dancing Script', cursive;
    color: var(--caqui);
}
.catalogo .imagenes{
    width: 400px;
    height: 500px;
    display: flex;
}
.catalogo .imagenes img{
    object-fit: cover;
    padding: 20px;
    margin-bottom: 10px;
}
.catalogo .imagenes .img1, .img2, .img3{
    box-sizing: border-box;
    box-shadow: 0px 0px 12px 0 #888;
    background: var(--backgroundColor);
    margin: 10px;
    padding: 20px;
    width: fit-content;
    
}
.catalogo .imagenes .img1 p, .img2 p, .img3 p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight:bold ;
}



@media(max-width:768px){
    .header .optionList li a{
        display: none;

    }
    
}